
<!doctype html>
<html lang="en">
	<head>
		<% include ../views/partials/head %> 
		<title><%= title %></title>
	</head>
	<body>

		<% include ../views/partials/navbar %> 
		<% include ../views/partials/login-register%>


		<!--Cart BUtton-->
		<div class="container" style="padding-bottom: 30px;">
			<button id="displayCart" type="button" class="btn btn-success btn-block">Display Cart</button>
		</div>


		<!-- Latest Listings -->
		<div style="padding-top: 50px;" class="container">
			<div class="strike" style="padding-bottom: 50px;">
				<span><h2>Cars For Sale</h2></span>
			</div>
			<div class="row" style="padding-bottom: 30px;">
				<div class="col-sm-4">

					<img id='1' class="img-responsive carClick" src="/img/cars-for-sale/1.jpg" alt="Ford" width="400" height="250">
				</div>

				<div class="col-sm-4">
					<img id='2' class="img-responsive carClick" src="/img/cars-for-sale/2.jpg" alt="Ford" width="400" height="250">
				</div>

				<div class="col-sm-4">
					<img id='3' class="img-responsive carClick" src="/img/cars-for-sale/3.jpg" alt="Ford" width="400" height="250">
				</div>
			</div>

		<div class="row" style="padding-bottom: 30px;">
				<div class="col-sm-4">

					<img id="4" class="img-responsive carClick" src="/img/cars-for-sale/4.jpg" alt="Mazda" width="400" height="250">
				</div>

				<div class="col-sm-4">
					<img id="5" class="img-responsive carClick" src="/img/cars-for-sale/5.jpg" alt="Mazda">
				</div>

				<div class="col-sm-4">
					<img id="6" class="img-responsive carClick" src="/img/cars-for-sale/6.jpg" alt="Mazda" width="400" height="250">
				</div>
			</div>
		<div class="row" style="padding-bottom: 30px;">
				<div class="col-sm-4">

					<img id="7" class="img-responsive carClick" src="/img/cars-for-sale/7.jpg" alt="Rover" width="400" height="250">
				</div>

				<div class="col-sm-4">
					<img id="8" class="img-responsive carClick" src="/img/cars-for-sale/8.jpg" alt="Rover" width="400" height="250">
				</div>

				<div class="col-sm-4">
					<img id="9" class="img-responsive carClick" src="/img/cars-for-sale/9.jpg" alt="Rover" width="400" height="250">
				</div>
			</div>
		</div>
		</div>

		<!-- Car info modal -->
		<div id="carInfo" class="modal fade" role="dialog">
		</div>

		<!--Cart info modal-->
		<div id="cartInfo" class="modal fade" role="dialog">
		</div>

		<!-- Footer -->
		<footer class="footer">
			<div class="container">
			</div>
		</footer>
	</body>
</html>
>>>>>>> 5d617fd... oauth
