
<!doctype html>
<html lang="en">
	<head>
		<% include ../views/partials/head %> 
		
		<title><%= title %></title>
	</head>
	<body>
	
		<% include ../views/partials/navbar %> 
		<% include ../views/partials/login-register%>

		<!-- List of cars -->
		<div style="padding-top: 50px;" class="container">
			<div class="strike" style="padding-bottom: 50px;">
				<span><h2>Cart</h2></span>
			</div>

			<div class="row" style="padding-top: 50px;">
				<div class="col-sm-4">
					<button id="DisplayCart" type="button" class="btn btn-success btn-block">Display</button>
				</div>
			</div>

		</div>
		</div>

		<!-- Footer -->
		<footer class="footer">
			<div class="container">
			</div>
		</footer>
	</body>
>>>>>>> 5d617fd... oauth
</html>