
<!doctype html>
<html lang="en">
	<head>
		<% include ../views/partials/head %> 


		<title><%= title %></title>
	</head>
	<body>
	
		<% include ../views/partials/navbar %> 
		<% include ../views/partials/login-register%>

		<!-- Footer -->
		<footer class="footer">
			<div class="content-switch">
					<table class = "tab1">
						<tr>
							<td><p>Phone Number (04 2355456)</p></td>
							<td><p>Email Address (ecs.ave.art@ecsmotors.com)</p></td>
							<td><p>Fax Number(+1-212-9876543)</p></td>
						</tr>
					</table>
					<div class="strike">
						<span><h2>Fastest way to communicate your needs with us</h2></span>
					</div>
					<form id = "contact-form" action="#">

    					<label for="fname">First Name</label>
   						<input type="text" id="fname" name="firstname" placeholder="Your name..">

     					<label for="lname">Last Name</label>
    					<input type="text" id="lname" name="lastname" placeholder="Your last name..">

    					<label for="eaddress">Email Address</label>
    					<input type="email" id="email" name="email" placeholder="Your Email-Address">

    					<label for="pnumber">Phone Number</label>
    					<input type="text" id="num" name="phone" placeholder="Your Phone Number">

    					<label for="subject">Subject</label>
    					<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
						<input id="butSub" type="submit" value="Submit">
  					</form>
			</div> <!--content switch end-->
		</footer>
	</body>
</html>
