<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width = device-width, initial-scale = 1">

		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="navbar.js"></script>
		<!--<script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


		<title><%= title %></title>
	</head>
	<body>
	
		<% include ../views/partials/navbar %> 
		<% include ../views/partials/login-register%>

		<!-- Footer -->
		<footer class="footer">
			<div class="content-switch">
					<table class = "tab1">
						<tr>
							<td><p>Phone Number (04 2355456)</p></td>
							<td><p>Email Address (ecs.ave.art@ecsmotors.com)</p></td>
							<td><p>Fax Number(+1-212-9876543)</p></td>
						</tr>
					</table>
					<div class="strike">
						<span><h2>Fastest way to communicate your needs with us</h2></span>
					</div>
					<form id = "contact-form" action="#">

    					<label for="fname">First Name</label>
   						<input type="text" id="fname" name="firstname" placeholder="Your name..">

     					<label for="lname">Last Name</label>
    					<input type="text" id="lname" name="lastname" placeholder="Your last name..">

    					<label for="eaddress">Email Address</label>
    					<input type="email" id="email" name="email" placeholder="Your Email-Address">

    					<label for="pnumber">Phone Number</label>
    					<input type="text" id="num" name="phone" placeholder="Your Phone Number">

    					<label for="subject">Subject</label>
    					<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
						<input id="butSub" type="submit" value="Submit">
  					</form>
			</div> <!--content switch end-->
		</footer>
	</body>
</html>
