<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width = device-widtrh, initial-scale = 1">
		
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="newcars.js"></script>

		<title><%= title %></title>
	</head>
	<body>
		<!-- Navigation bar -->
		<div class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
				<a class="navbar-brand" href="/"><%= title %></a>
				</div>
				<!-- Navigation tabs -->
	            <ul class="nav navbar-nav navbar-left">
	              <li><a href="/cars">Cars</a></li>
	              <li class="active"><a href="/contact">Contact</a></li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	            <!-- Seacrch and login -->
	            <li>
	            	<form class="navbar-form" role="search">
	            		<div class="input-group search-box">
	            			<input class="form-control" placeholder="Search" type="text" name="srch-term" id="srch-trm">
	            			<div class="input-group-btn">
	            				<button id="srch-btn" class="btn btn-default" type="submit">
	            					<i class="glyphicon glyphicon-search"></i>
	            				</button>
	            			</div>
	            	</form>
	            <li><a id="login" href="#">Login/Register</a></li>
	            </ul>
			</div>
		</div>

		<!-- Login modal -->
		<div id="loginReq" class="modal fade" role="dialog">
			<div class="modal-dialog">
			    <div class="modal-content">
					<div class="modal-header">
				        <h4 class="modal-title">Login / Register</h4>
					</div>
					<div class="modal-body">
			       		<form>
			       			<div class="form-group">
			       				<label for="user"><span class="glyphicon glyphicon-user"></span> Username</label>
             					<input type="text" class="form-control" id="user" placeholder="Enter email">
             					<p><a href="#">Forgot your username?</a></p>
			       			</div>
			       			<div class="form-group">
			       				<label for="pass"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
            					<input type="password" class="form-control" id="pass" placeholder="Enter password">
            					<p><a href="#">Forgot your password?</a></p>
			       			</div>
			       		</form>
			       		<button id="submitLogin" type="submit" class="btn btn-success btn-block">Login</button>
					</div>
					<div class="modal-footer">
			        	<button type="button" class="btn btn-info btn-block" id="register">Register</button>
			        	<br>
			        	<div class="strike">
			        		<span>or</span>
			        	</div>
			        	<div id="google-login">
			        		<button type="button" class="btn btn-link "><img src="/img/google-icon-small.png"></button>
			        	</div>
					</div>
			    </div>
			</div>
		</div>
		<!-- REGISTER MODAL -->
		<div id="registerModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
			    <div class="modal-content">
					<div class="modal-header">
				        <h4 class="modal-title">Register</h4>
					</div>
					<div class="modal-body">
			       		<form>
			       			<div class="form-group">
			       				<label for="firstname">Firstname</label>
             					<input type="text" class="form-control" id="firstname" placeholder="Firstname">
			       			</div>
			       			<div class="form-group">
			       				<label for="pass"></span> Lastname</label>
            					<input type="text" class="form-control" id="lastname" placeholder="Lastname">
			       			</div>
			       			<div class="form-group">
			       				<label for="user">Username</label>
             					<input type="text" class="form-control" id="username" placeholder="Username">
			       			</div>
			       			<div class="form-group">
			       				<label for="email"></span> Email</label>
            					<input type="text" class="form-control" id="email" placeholder="Email">
			       			</div>
			       			<div class="form-group">
			       				<label for="password"></span> Password</label>
            					<input type="password" class="form-control" id="password" placeholder="Password">
			       			</div>
			       		</form>
					</div>
					<div class="modal-footer">
			        	<button type="button" class="btn btn-info btn-block" id="registerUser" data-dismiss="modal">Register</button>
			        	<button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cancel</button>
					</div>
			    </div>
			</div>
		</div>
		<!-- Resister Successful -->
		<div id="register-suc" class="modal fade" role="dialog">
			<div class="modal-dialog">
			    <div class="modal-content">
					<div class="modal-header">
				        <h4 class="modal-title">Success</h4>
					</div>
					<div class="modal-body">
			       		<p>Successfuly registered user</p>
					</div>
					<div class="modal-footer">
			        	<button type="button" class="btn btn-success btn-block" data-dismiss="modal">Ok</button>
					</div>
			    </div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="footer">
			<div class="content-switch">
					<table class = "tab1">
						<tr>
							<td><p>Phone Number (04 2355456)</p></td>
							<td><p>Email Address (ecs.ave.art@ecsmotors.com)</p></td>
							<td><p>Fax Number(+1-212-9876543)</p></td>
						</tr>
					</table>
					<div class="strike">
						<span><h2>Fastest way to communicate your needs with us</h2></span>
					</div>	
					<form id = "contact-form" action="#">
    					
    					<label for="fname">First Name</label>
   						<input type="text" id="fname" name="firstname" placeholder="Your name..">

     					<label for="lname">Last Name</label>
    					<input type="text" id="lname" name="lastname" placeholder="Your last name..">

    					<label for="eaddress">Email Address</label>
    					<input type="email" id="email" name="email" placeholder="Your Email-Address">

    					<label for="pnumber">Phone Number</label>
    					<input type="text" id="num" name="phone" placeholder="Your Phone Number"> 
						
						<!-- 
    					<label for="country">Country</label>
    					<select id="country" name="country">
     					<option value="australia">Australia</option>
      					<option value="canada">Canada</option>
      					<option value="usa">USA</option>
    					</select> -->

    					<label for="subject">Subject</label>
    					<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
						<input type="submit" value="Submit">
  					</form>						
			</div> <!--content switch end-->
		</footer>
	</body>
</html>