<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width = device-width, initial-scale = 1">

		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="navbar.js"></script>
		<script src="cars.js"></script>


		<title><%= title %></title>
	</head>
	<body>
	
		<% include ../views/partials/navbar %> 
		<% include ../views/partials/login-register%>

		<!-- List of cars -->
		<div style="padding-top: 50px;" class="container">
			<div class="strike" style="padding-bottom: 50px;">

			</div>
            <span>
                <% for(var i=0; i < data.rows; i++) { %>
                    <p><%= data.rows[i] %></p>
                <% } %>
                <p><%= JSON.stringify(data.rows) %></p>
            </span>

<!-- 			<div class="row" style="padding-bottom: 30px;">
				<div class="col-sm-4">

					<img id='1' class="img-responsive carClick" src="/img/cars-for-sale/Ford.jpg" alt="Ford" width="400" height="250">
				</div>

				<div class="col-sm-4">
					<img id='2' class="img-responsive carClick" src="/img/cars-for-sale/Ford2.jpg" alt="Ford" width="400" height="250">
				</div>

				<div class="col-sm-4">
					<img id='3' class="img-responsive carClick" src="/img/cars-for-sale/Ford3.jpeg" alt="Ford" width="400" height="250">
				</div>
			</div>

			<div class="row" style="padding-bottom: 30px;">
				<div class="col-sm-4">

					<img id="4" class="img-responsive carClick" src="/img/cars-for-sale/mazda.jpg" alt="Mazda" width="400" height="250">
				</div>

				<div class="col-sm-4">
					<img id="5" class="img-responsive carClick" src="/img/cars-for-sale/mazda2.jpg" alt="Mazda">
				</div>

				<div class="col-sm-4">
					<img id="6" class="img-responsive carClick" src="/img/cars-for-sale/mazda3.jpg" alt="Mazda" width="400" height="250">
				</div>
			</div>

			<div class="row" style="padding-bottom: 30px;">
				<div class="col-sm-4">

					<img id="7" class="img-responsive carClick" src="/img/cars-for-sale/Rover.jpg" alt="Rover" width="400" height="250">
				</div>

				<div class="col-sm-4">
					<img id="8" class="img-responsive carClick" src="/img/cars-for-sale/Rover2.jpg" alt="Rover" width="400" height="250">
				</div>

				<div class="col-sm-4">
					<img id="9" class="img-responsive carClick" src="/img/cars-for-sale/Rover3.jpg" alt="Rover" width="400" height="250">
				</div>
		 	</div> -->
		</div>
		</div>

		<!-- Car info modal -->
		<div id="carInfo" class="modal fade" role="dialog">
		</div>


		<!-- Footer -->
		<footer class="footer">
			<div class="container">
			</div>
		</footer>
	</body>
</html>
