
body {
	background-image: url(../img/large.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.slide1{
	background-image: url(../img/carCarousel1.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide2{
	background-image: url(../img/carCarousel2.png);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide3{
	background-image: url(../img/carCarousel3.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slide4{
    background-image: url(../img/carCarousel4.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide5{
    background-image: url(../img/carCarousel5.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide6{
    background-image: url(../img/carCarousel6.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
    }

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: lightgrey;
}

/*.navbar-header{
    background-image: url(../img/container.jpg);
}*/

#carCarousel{
    background-image: url(../img/container.jpg);
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

#google-login{
	text-align: center;
}

.search-box .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

.img {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
}

.welcome {
  margin: 0 0 30px;
  text-align: center;
  font-style: italic;
  font-size:17px;
}

#contact-form{    
	border-radius: 5px;
    background-color: #f2f2f2;
    max-width: 50%;
    margin : auto;
    padding: 20px;
}



input[id = fname], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[id = lname], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[id = email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[id = num], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.tab1{

	width: 75%;
	margin: auto;
	font-style: italic;
	font-size: 17px;

}