
body {
	background-color: #fff;
}

.slide1{
	background-image: url(../img/carCarousel1.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide2{
	background-image: url(../img/carCarousel2.png);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide3{
	background-image: url(../img/carCarousel3.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
    }

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: lightgrey;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

#google-login{
	text-align: center;
}

.search-box .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

.img {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
}